body{
  background-color: #333 !important;
  background-image: url(./pics/random-grey-variations.png);
}

.container{
  background-color: #FFFFFF;
  margin-top: 50px;
}

.section{
    padding: 50px;
}
.section-mid{
    padding: 0px 50px;
}
.progress{
  height: 8px !important;
}

h1, h2, h3{
  font-family: 'Passion One' !important;
}
