---
---
body{
  background-color: #333 !important;
  background-image: url(./pics/random-grey-variations.png);
}

.container{
  background-color: #FFFFFF;
  margin: 50px 0px;
}

.header{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #ddd;
}
.section{
  padding: 20px 50px;
  border-top: 1px solid lightblue;
  .jd{
    border-bottom: 1px solid lightblue;
    padding: 20px 0px;
  }
  .jd:last-child{
      border-bottom: none;
    }
}

.progress{
  height: 8px !important;
  margin-bottom: 10px !important;
}

.name{
  font-size: 40px;
  margin-bottom: 0px;
}
.profession{
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 20px;
}

.side-project{
  padding-bottom: 20px;
  :last-child{
    padding-bottom: 0px
  }
}
h1, h2{
  font-family: 'Archivo Black' !important;
}

.techSkillHeader{
  text-align: center;
}

.competencies{
  ul {
    columns: 2;
    column-gap: 40px
  }
}

.flag{
  vertical-align: middle;
}

#pdf-button {
  position: absolute; top: 40px; border: 0; right: 40px;
  color: #000000;
  border-radius: 50%;

  width: 2em;
  height: 2em;
  padding: 8px;

  background: #fff;
  text-align: center;
  font-size: 2em;
}

@media print {
  .section {
    //page-break-inside: avoid;
    padding: 10px 20px;
  }

  .flag{
    display: block;
  }
  .jd{
    page-break-inside: avoid;
    padding-top: 80px;
  }
  a[href]:after {
    content: none !important;
  }
  .pagebreakishere {
    padding-top: 80px;
  }
  .container {
    width: 1100px;
    margin: 20px 50px;
    padding: 20px 50px;
  }
  .progress {
    background-color: #F5F5F5 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F5F5F5', endColorstr='#F5F5F5')" !important;
  }
  .progress-bar-success {
    display: block !important;
    background-color: #5BC0DE !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#5BC0DE', endColorstr='#5BC0DE')" !important;
  }
  .progress,
  .progress > .progress-bar {
    display: block !important;
    -webkit-print-color-adjust: exact !important;
    box-shadow: inset 0 0 !important;
    -webkit-box-shadow: inset 0 0 !important;
  }
}
