---
---
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
body {
  padding-top: 80px;
  color: #ddd;
  //  background-image: url(./pics/triangles.png);
  background: #292929 url(./pics/random-grey-variations.png);
}

h1 { font-size: 2em; font-weight: bold;}
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.copyright {
  color: #ffffff;
}
.footer {
  text-align: center;
}
.footer a {
  color: #ee4444;
}
.sidebar h1 {
  color: #ddd;
}
.sidebar li {
  margin-top: .7em;
  line-height: 1em;
}

ul.sideBarTags {
  list-style: none;
  li:before {
    content: '\f02b';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #ddd;
  }
}

.well {
  background-color: #444;
  box-shadow: 0px 0px 0px 0px, 0px 8px 16px rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 6px;
}
.well > main-page {
  width: 75%;
}
.main-page {
  width: 75%;
}
.well h1 {
  color: #ddd;
}
.author {
  color: #ee4444;
}
.author a {
  color: #ee4444;
}

img {
  display: inline-block;
  margin: 0 auto;
  max-width:100%;
  max-height:100%;
}

blockquote {
  color: #bbb;
  font-size: 1em;
}

a {
  color: #3CA2A2;
}

//    ___          _      _   _ _      _
//   / __| ___  __(_)__ _| | | (_)_ _ | |__ ___
//   \__ \/ _ \/ _| / _` | | | | | ' \| / /(_-<
//   |___/\___/\__|_\__,_|_| |_|_|_||_|_\_\/__/
//

ul.social-media {
  text-align: center;
  padding: 0;
  li {
    display: inline-block;
  }
  li > a {
    margin-left: 0.8em;
    margin-right: 0.8em;
    display: inline-block;
    color: white;
  }

  .fa-github:hover {
    -webkit-animation: github 1s ease-in-out forwards;
    animation: github 1s ease-in-out forwards;
  }
  .fa-stack-overflow:hover {
    -webkit-animation: stack-overflow 1s ease-in-out forwards;
    animation: stack-overflow 1s ease-in-out forwards;
  }
  .fa-linkedin:hover {
    -webkit-animation: linkedin 1s ease-in-out forwards;
    animation: linkedin 1s ease-in-out forwards;
  }
  .fa-codepen:hover {
    -webkit-animation: codepen 1s ease-in-out forwards;
    animation: codepen 1s ease-in-out forwards;
  }
  .fa-instagram:hover {
    -webkit-animation: instagram 1s ease-in-out forwards;
    animation: instagram 1s ease-in-out forwards;
  }
  .fa-lastfm:hover {
    -webkit-animation: lastfm 1s ease-in-out forwards;
    animation: lastfm 1s ease-in-out forwards;
  }
  .fa-rss:hover {
    -webkit-animation: rss 1s ease-in-out forwards;
    animation: rss 1s ease-in-out forwards;
  }

  @-webkit-keyframes github         {0% {color: white;} 50% {color: #333333;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes stack-overflow {0% {color: white;} 50% {color: #fe7a15;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes linkedin       {0% {color: white;} 50% {color: #4875B4;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes codepen        {0% {color: white;} 50% {color: #000000;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes instagram      {0% {color: white;} 50% {color: #517fa4;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes lastfm         {0% {color: white;} 50% {color: #c3000d;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes rss            {0% {color: white;} 50% {color: #FF6600;} 100% {color: #3CA2A2;}}
}

//    ___        _
//   | _ \___ __| |_
//   |  _/ _ (_-<  _|
//   |_| \___/__/\__|
//

h3.post-title {
  padding-top: 10px;
  text-align: left;
  font-size: 1.6em;
}
div.post-meta {
  border: 1px solid #666666;
  border-width: 1px 0;
  margin: 0 0 20px;
  ul {
    display: inline;
    padding-left: 0px;
    float: right;
  }
  ul > li {
    display: inline;
    padding: 0 0 5px 20px;
  }
  .post-time {
    display: inline;
  }
}


//    ___           _           _   _
//   | _ \__ _ __ _(_)_ _  __ _| |_(_)___ _ _
//   |  _/ _` / _` | | ' \/ _` |  _| / _ \ ' \
//   |_| \__,_\__, |_|_||_\__,_|\__|_\___/_||_|
//            |___/

.pagination {
  padding: 20px;
  margin-bottom: 20px;
  color: #feffff;
}
a.page {
  display: inline-block;
  line-height: 31px;
  padding: 0px 9px;
  margin-right: 4px;
  border-radius: 3px;
  font-size: .875em;
  font-weight: bold;
  border: solid 1px #32373b;
  background: #3e4347;
  box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
  color: #feffff;
  text-shadow: 0px 1px 0px rgba(0,0,0, .5);
  text-decoration: none;
}
a.page:hover, a.page.gradient:hover {
  background: #3d4f5d;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
  background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
  text-decoration: none;
}
a.page.active {
  border: none;
  background: #2f3237;
  box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}


.post-footer {
  height: 40px;
  display: table;
  width: 100%;
  position: relative;
  margin-top: 32px;
  text-align: center;
}

//    _  _             _
//   | || |___ __ _ __| |___ _ _
//   | __ / -_) _` / _` / -_) '_|
//   |_||_\___\__,_\__,_\___|_|
//
nav a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
  font-family: Ubuntu;
  @include transition(color 0.4s);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav.navbar {
  border-top: 3px #3CA2A2 solid;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav.navbar.shrink {
  min-height: 15px;
}
.navbar-brand {
  font-size: 30px;
}
nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}
nav.shrink .navbar-brand {
  font-size: 25px;
  height: inherit;
}
.navbar .navbar-nav {
  display: inline-block;
  float: right;
}
nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

//    ___         _
//   | __|__  ___| |_ ___ _ _
//   | _/ _ \/ _ \  _/ -_) '_|
//   |_|\___/\___/\__\___|_|
//

@media (min-width: 1000px) {
  .twoRow .navbar-collapse {
    clear: left;
  }
  .footer-distributed .footer {
    text-align: center;
  }
  .footer-distributed .footer {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer {
    line-height: 1.8;
  }
}

.footer-distributed {
  // background-color: #292c2f;
  background-color: #222;
  font: normal 16px sans-serif;
  padding: 20px 25px;
  margin-top: 80px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}


.center-image
{
  margin: 0 auto;
  display: block;
}

//    _  _     _
//   | \| |___| |_ ___
//   | .` / _ \  _/ -_)
//   |_|\_\___/\__\___|
//

.note {
  position:relative;
  border: 0;
  padding-left: 30px;
}
.note:before {
  content: "\f06a";
  font-size: 2em;
  font-family: FontAwesome;
  left: 0px;
  position:absolute;
  top: 0;
  color: #87CEFA;
}
.warning:before {
  content: "\f071";
  color: yellow;
}


//    ___ _
//   / __| |_  __ _ _ _ ___
//   \__ \ ' \/ _` | '_/ -_)
//   |___/_||_\__,_|_| \___|
//
.share-bar{
  text-align: right;
}

ul.share-buttons {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    .fa-facebook,
    .fa-twitter,
    .fa-google-plus,
    .fa-linkedin,
    .fa-envelope-o,
    .fa-pinterest {
      color: #ffffff
    }
    a {
      text-decoration: none;
    }

    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
  }

  li.share-facebook .fa-square-o { color: #3B5998;}
  li.share-twitter .fa-square-o { color: #55acee;}
  li.share-google-plus .fa-square-o { color: #dd4b39;}
  li.share-linkedin .fa-square-o { color: #4875B4;}
  li.share-pinterest .fa-square-o { color: #BD081C;}
  li.share-envelope .fa-square-o { color: #3B5998;}

  li:hover {
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -ms-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3);
  }
}

.wrapper{
  min-height: 100%;
  position: relative;
}

.content{
  padding-bottom: 250px;
}

.key {
  font-size: 1.0em;
  box-shadow: 1px 0 1px 0 #555, 0 1px 0 2px #888, 0 2px 0 2px #777;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 3px;
  padding: 0px 5px;
}

.filename{
  padding: 0px;
  margin: 0px;
  background-color: #292929;
  color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0px;
  padding-left: 1em;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  border-left: 0px;
  bottom: -2px;
  position: relative;
  padding-bottom: 2px;
}

hr{
  border-color: #666;
}
