---
---

<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.data.cv.person.name }}'s CV</title>
  <meta name="author" content="{{ site.data.cv.name }}"/>
  <meta name="description" content="{{ site.data.cv.name }}'s CV"/>
  <link rel="shortcut icon" href="/favicon.png">
  <link href="{{site.url}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{site.url}}/css/cv1.css" rel="stylesheet">
  <link href="{{site.url}}/css/flags/flags.css" rel="stylesheet">

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="all"/>
  <link href='https://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    WebFontConfig = {
      google: {families: ['Passion+One:400,700:latin']}
    };
    (function () {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); </script>
</head>

<body>
<!-- Button to download pdf version of CV -->
<!--<div id="pdf-button">-->
    <!--<i class="fa fa-file-pdf-o" aria-hidden="true"></i>-->
<!--</div>-->

<div class="container">
  <div class="row header">
    <div class="col-xs-9">
      <h1 class="name">{{ site.data.cv.person.name }}</h1>
      <span class="profession">{{ site.data.cv.person.profession }}</span>
    </div>

    <div class="col-xs-3">
      <ul class="list-unstyled">
        <li><i class="fa fa-map-marker"></i> {{site.data.cv.person.location}}</li>

        {% if site.data.cv.person.citizenship %}
        <li><i class="fa fa-flag-o"></i> {{site.data.cv.person.citizenship}}</li>
        {% endif %}

        <li><i class="fa fa-comments-o"></i> {{site.data.cv.person.spokenLanguages}}</li>

        <li><i class="fa fa-envelope-o"></i> <a href="mailto: {{ site.data.cv.person.email }}">{{
          site.data.cv.person.email }}</a></li>

        {% if site.data.cv.person.site %}
        <li><i class="fa fa-laptop"></i> <a href="{{site.data.cv.person.site}}">pavelmakhov.com</a></li>
        {% endif %}

        {% if site.data.cv.person.phone %}
        <li><i class="fa fa-phone"></i> {{site.data.cv.person.phone}}</li>
        {% endif %}

        {% if site.data.cv.person.linkedin %}
        <li><i class="fa fa-linkedin"></i>
          <a href="https://www.linkedin.com/in{{site.data.cv.person.linkedin}}">linkedin.com/in/streetturtle</a></li>
        {% endif %}

        <li><i class="fa fa-github"></i>
          <a href="https://github.com{{site.data.cv.person.github}}">{{site.data.cv.person.github}}</a></li>
        <li><i class="fa fa-stack-overflow"></i>
          <a href="http://stackoverflow.com/users/1252056{{site.data.cv.person.stackoverflow}}">
            {{site.data.cv.person.stackoverflow}}</a></li>
      </ul>
    </div>
  </div>

  <div class="row section">
    <div class="col-xs-2">
      <h2>Career</h2>
    </div>

    <div class="col-xs-10">
      {% for item in site.data.cv.career %}
      <div class="jd">
        <div class="row" style="padding-bottom:20px">
          <div class="col-xs-6">
            <div>
                <a href="{{item.company-site}}" style="text-decoration: none !important">
                    <img style="height: 40px;display: inline-block;vertical-align: middle;"
                         src="{{ site.url }}/images/cv/{{ item.logo }}">
                </a>
              <div style="display: inline-block; vertical-align: middle;">
                <div><b>{{ item.position }}</b></div>
                  <div>
                      {% if item.company-site %}
                        <a href="{{item.company-site}}">{{ item.company }}</a>
                      {% else %}
                        {{item.company}}
                      {% endif %}
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="pull-right">
              <div><i class="flag flag-{{item.country}}"></i> {{item.location}}</div>
              <div class="pull-right">{{ item.dates }}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>{{ item.summary }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">

            {% if item.accomplishments.size > 0 %}
            <b>Selected accomplishments:</b>
            {% endif %}
            <ul>
              {% for itemm in item.accomplishments %}
              <li>{{itemm.accomplishment}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="row section">
    <div class="col-xs-3">
      <h2>Technical skills</h2>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-4">

          <h4 class="techSkillHeader"><i class="fa fa-terminal"></i> Backend</h4>
          {% for item in site.data.cv.technicalSkills.left %} {{item.name}}
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                 aria-valuemax="100" style="width: {{item.level}}%"></div>
          </div>
          {% endfor %}
        </div>
        <div class="col-xs-4">
          <h4 class="techSkillHeader"><i class="fa fa-code"></i> Frontend</h4> {% for item in
          site.data.cv.technicalSkills.center %} {{item.name}}
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                 aria-valuemax="100" style="width: {{item.level}}%"></div>
          </div>
          {% endfor %}
        </div>
          <div class="col-xs-4">
              <h4 class="techSkillHeader"><i class="fa fa-database"></i> Big Data</h4> {% for item in
              site.data.cv.technicalSkills.right %} {{item.name}}
              <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                       aria-valuemax="100" style="width: {{item.level}}%"></div>
              </div>
              {% endfor %}
          </div>

      </div>
      <div class="competencies">
        <h4><i class="fa fa-male"></i> Key competencies:</h4>
        <ul>
          {% for item in site.data.cv.technicalSkills.list %}
          <li>{{item.tr}}</li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>


  <div class="row  section">
    <div class="col-xs-3"><h2>Side Projects</h2></div>
    <div class="col-xs-9">
      {% for item in site.data.cv.sideProjects %}
      <div class="row side-project">
        <div class="col-xs-4">
          <h4>
            {% if item.type == 'github' %}
            <i class="fa fa-github"></i>
            {% elsif item.type == 'site' %}
            <i class="fa fa-globe"></i>
            {% endif %}
            <a href="{{item.link}}">{{item.name}}</a>
          </h4>
          <div class="row">
              <div class="col-xs-3">{{item.langs}}</div>
              {% if item.stars %}
              <div class="col-xs-6"><i class="fa fa-star-o" aria-hidden="true"></i> {{item.stars}}</div>
              {% endif%}
          </div>
        </div>
        <div class="col-xs-8">{{item.description}}</div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row section">
    <div class="col-xs-3"><h2>Certifications</h2></div>
    <div class="col-xs-9">
      {% for item in site.data.cv.certifications %}

      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if thecycle == 'odd' %}
      <div class="row">
      {% endif %}

      <div class="col-xs-6" style="padding-top: 5px; padding-bottom: 5px;">
        <a href="{{ item.link }}"><img style="height: 90px;display: inline-block;vertical-align: middle;"
                                       src="{{ site.url }}/images/cv/{{ item.badge }}"></a>
        <div style="display: inline-block; vertical-align: middle;">
          <div><b>{{ item.name }}</b></div>
          <div>{{ item.issuer }}</div>
          <div>{{ item.date }}</div>
        </div>
      </div>

      {% if thecycle == 'even' %}
      </div>
      {% endif %}


      {% endfor %}
    </div>
  </div>
  </div>

  <div class="row section">
    <div class="col-xs-3"><h2>Education</h2></div>
    <div class="col-xs-9">

      {% for item in site.data.cv.education %}
      <div class="row">
        <div class="col-xs-12"><h4><b>{{item.name}}</b></h4></div>
        <div class="col-xs-12"><i class="fa fa-graduation-cap"></i> {{item.degree}} ({{item.dates}})</div>
        <div class="col-xs-12"><a href="{{item.link}}">{{item.link}}</a>, {{item.location}}</div>
      </div>
      {% endfor %}
    </div>
  </div>

</body>

</html>
