---
layout: page
---

<div id="total_words">Total words:</div>
<div>Total posts: {{ site.posts.size }}</div>

<canvas id="myChart" width="400" height="300"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<script>
    var rawData = [
        {% for post in site.posts %}
            {
                "t":"{{post.date | date: '%Y-%-m'}}",
                "x":1
            },
        {% endfor %}
    ];

    var sy = "{{ site.posts.last.date | date: '%Y'}}",
        yy = "{{ site.posts.first.date | date: '%Y'}}",
        sm = "1",
        em = "{{ site.posts.first.date | date: '%-m'}}";

    var data = [];

    for (var i = parseInt(sy); i <= parseInt(yy); i++) {
        for (var j = parseInt(sm); j < 13; j++) {
            console.log('' + i + "-" + j);
            data.push({"t": '' + i + "-" + j, "x": 0});
        }
    }

    var ctx = document.getElementById("myChart").getContext('2d');

    var res = data.concat(rawData)

    var counts = res.reduce((p, c) => {
        var name = c.t;
        if (!p.hasOwnProperty(name)) {
            p[name] = 0;
        }
        p[name] = p[name] + c.x;
        return p;
    }, {});

    var myLineChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: Object.keys(counts),
            datasets: [{
                label: 'Demo',
                data: Object.values(counts),
                borderColor: 'rgb(60, 162, 162, 1)',
                borderWidth: 2
            }],
        }
    });
</script>
<script>
var total_words = [
{% for post in site.posts %}
{{ post.content | number_of_words }},
{% endfor %}
]
var total_words = total_words.reduce((a, b) => a + b, 0);
document.getElementById('total_words').innerText += ' ' + total_words;
</script>
