<div class="sidebar ">
  {% if page.tags %}
    <h1>Related By Tags</h1>
  {% endif %}
  <ul>
    {% assign posts = site.posts | sort: 'title' %}
    {% for post in posts %}
      {% assign isAdded = false %}
      {% for tagAll in post.tags %}
        {% for tag in page.tags %}
          {% if tagAll == tag and page.title != post.title and isAdded == false %}
            <li><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
            {% assign isAdded = true %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h1>Tags</h1>
  <ul>
    {% assign tags = (site.tags | sort:0) %} {% for tag in tags %}
      <li><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
