<div class="sidebar ">

  {% if page.tags.size == 1 %}
    <h2>Related By Tag</h2>
  {% elsif page.tags.size > 1 %}
    <h2>Related By Tags</h2>
  {% endif %}

  <ul>
    {% assign posts = site.posts | sort: 'title' %}
    {% for post in posts %}
      {% assign isAdded = false %}
      {% for tagAll in post.tags %}
        {% for tag in page.tags %}
          {% if tagAll == tag and page.title != post.title and isAdded == false %}
            <li><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
            {% assign isAdded = true %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    {% if tag[1].size > 1 %}
      <li>
        <a href="/tag/{{ tag[0] }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
          <span>{{tag[0] }}</span></a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<!-- <div class="sidebar">
  <h2>Be my colleague at
    <a href="http://www.touchtunes.com/"><img style="width:150px" src="{{site.url}}/images/tt-logo-white.png"></a></h2>

  <div class="row">
  {% for job in site.data.job_postings %}
    <div class="col-xs-12"  style="padding-top:10px">
      <a href="{{job.link}}">{{ job.title }}</a>
    </div>
    <div class="col-xs-12">{{ job.tech }}</div>
    <div class="col-xs-12"><i class="fa fa-map-marker"></i> {{job.place}}</div>
  {% endfor %}
  </div>

</div> -->
