<h6>Follow me</h6>

<ul class="social-media">

    {% if site.social.github %}
    <li>
        <a title="{{ site.social.github }} on Github"
            href="https://github.com/{{ site.social.github }}"
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %}

    {% if site.social.stackoverflow %}
    <li>
        <a title="{{ site.social.stackoverflow }} on StackOverflow"
            href="http://stackoverflow.com/users/1252056/{{ site.social.stackoverflow }}"
            class="stackoverflow wc-img-replace" target="_blank">StackoverFlow</a>
    </li>
    {% endif %}

    {% if site..social.linkedin %}
    <li>
        <a title="{{ site.social.github }} on LinkedIn"
            href="https://www.linkedin.com/in/{{ site.social.linkedin }}"
            class="linkedin wc-img-replace" target="_blank">LinkedIn</a>
    </li>
    {% endif %}


    {% if site.social.instagram %}
    <li>
        <a title="{{ site.social.instagram }} on Instagram"
            href="https://instagram.com/{{ site.social.instagram }}"
            class="instagram wc-img-replace" target="_blank">Instagram</a>
    </li>
    {% endif %}


    {% if site.social.lastfm %}
    <li>
        <a title="{{ site.social.lastfm }} on LinkedIn"
            href="http://lastfm.com/user/{{ site.social.lastfm }}"
            class="lastfm wc-img-replace" target="_blank">LastFm</a>
    </li>
    {% endif %}

</ul>
