<h6>Follow me</h6>

<ul class="social-media">

    {% if site.harmony.social.github %}
    <li>
        <a title="{{ site.harmony.social.github }} on Github" 
            href="https://github.com/{{ site.harmony.social.github }}" 
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %} 

    {% if site.harmony.social.stackoverflow %}
    <li>
        <a title="{{ site.harmony.social.stackoverflow }} on StackOverflow" 
            href="http://stackoverflow.com/users/1252056/{{ site.harmony.social.stackoverflow }}" 
            class="stackoverflow wc-img-replace" target="_blank">StackoverFlow</a>
    </li>
    {% endif %}
    
    {% if site.harmony.social.linkedin %}
    <li>
        <a title="{{ site.harmony.social.github }} on LinkedIn" 
            href="https://www.linkedin.com/in/{{ site.harmony.social.linkedin }}" 
            class="linkedin wc-img-replace" target="_blank">LinkedIn</a>
    </li>
    {% endif %}
  

    {% if site.harmony.social.instagram %}
    <li>
        <a title="{{ site.harmony.social.instagram }} on Instagram" 
            href="https://www.linkedin.com/in/{{ site.harmony.social.instagram }}" 
            class="instagram wc-img-replace" target="_blank">Instagram</a>
    </li>
    {% endif %}
  

    {% if site.harmony.social.lastfm %}
    <li>
        <a title="{{ site.harmony.social.lastfm }} on LinkedIn" 
            href="https://www.linkedin.com/in/{{ site.harmony.social.lastfm }}" 
            class="lastfm wc-img-replace" target="_blank">LastFm</a>
    </li>
    {% endif %}
  
  
    

</ul>