---
layout: page
---
<div class="page-content wc-container">

  <div class="post">
      {% for post in site.posts %}
        {% for tag in post.tags %}
          {% if tag == page.tag %}

          <h3 class="post-title">
  <a href="{{site.url}}{{ post.url }}">
    {{ post.title }}
  </a>
</h3>

<div class="post-meta">
  <div class="post-time">
    <i class="fa fa-calendar"></i>
    <time>{{ post.date | date_to_string }}</time>
  </div>
  <ul>
    {% for tag in post.tags %}
    <li><a href="{{ site.url }}/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="post-descr">
  <p>
    {{ post.description }}
  </p>
</div>


          {% endif %}
        {% endfor %}
      {% endfor %}
  </div>
</div>
